input[type="checkbox"].add-user {
    display: block;
    float: left;
    margin: 4px 12px 10px 4px;
}

#pane-left .enroll_count, #pane-right .selection_count {
    color: #3566a0;
    font-weight: bold;
}

#pane-right .btn-primary {
    position: relative;
    top: -18px;
}

#fullClassList {
    position: relative;
    top: -14px;
}
