{% extends 'icommons_ui/base_lti.html' %}

{% load static %}

{% block head_meta %}
    {{ block.super }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock head_meta %}

{% block title %}Manage Course{% endblock title %}

{% block stylesheet %}
    {{ block.super }}
    <link href="https://static.tlt.harvard.edu/shared/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        {% block dashboard_breadcrumb %}{% endblock dashboard_breadcrumb %}
        {% block tool_content %}{% endblock tool_content %}
    </div>
{% endblock content %}
