{% extends 'canvas_manage_course/base.html' %}

{% load static %}

{% block stylesheets %}
  <link href="{% static 'canvas_manage_course/css/dashboard.css' %}"
        rel="stylesheet"/>
{% if no_tools_allowed %}
    <link rel="stylesheet" type="text/css" media="screen"
          href="{% static "lti-css/errors.css" %}" />
{% endif %}
{% endblock stylesheets %}


{% block breadcrumb %}
<nav>
    <h3>
        Manage Course
    </h3>
</nav>
{% endblock %}

{% block content %}
{% if no_tools_allowed %}
  {% include 'icommons_ui/_custom_error.html' %}
{% else %}
  <main>

  {% if allowed.class_roster %}
    <div class="card card_color4">
      <a href="{% url 'class_roster:index' %}" id="course-roster">
        <div class="card-body">
          <div class="card-header card-header_color4">
          </div>
          <div class="card-content card-content_normal">
            <h2 class="card-content-title ellipsis" title="Class Roster">
              <span class="content-link">
                Class Roster
              </span>
            </h2>
            <p title="Class Roster">
              View your class roster(s) in my.harvard
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}

  {% if allowed.manage_people %}
    <div class="card card_color1">
      <a href="{% url 'manage_people:user_form' %}" id="manage-people">
        <div class="card-body">
          <div class="card-header card-header_color1">
          </div>
          <div class="card-content card-content_normal">
            <h2 class="card-content-title ellipsis" title="Manage People">
              <span class="content-link">
                Manage People
              </span>
            </h2>
            <p title="Manage People">
              Add or remove people from your course
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}

  {% if allowed.manage_sections %}
    <div class="card card_color2">
      <a href="{% url 'manage_sections:create_section_form' %}" id="manage-sections">
        <div class="card-body">
          <div class="card-header card-header_color2">
          </div>
          <div class="card-content card-content_normal">
            <h2 class="card-content-title ellipsis" title="Manage Sections">
              <span class="content-link">
                Manage Sections
              </span>
            </h2>
            <p title="Manage Sections">
              Create, edit, and delete course sections
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}

  {% if allowed.im_import_files %}
    {% if isites_migration_active %}
      <div class="card card_color3">
        <a href="{% url 'isites_migration:index' %}" id="isites-migration">
          <div class="card-body">
            <div class="card-header card-header_color3">
            </div>
            <div class="card-content card-content_normal">
              <h2 class="card-content-title ellipsis"
                  title="Import iSites Content">
                <span class="content-link">
                  Import iSites Content
                </span>
              </h2>
              <p title="Import iSites Content">
                Migrate content from a previous term's
                Course iSite to this Canvas course
              </p>
            </div>
          </div>
        </a>
      </div>
    {% else %}
      <div class="card card_disabled">
        <div class="card-body">
          <div class="card-header card-header_disabled">
          </div>
          <div class="card-content card-content_alert">
            <h2 class="card-content-title ellipsis"
                title="Import iSites Content">
              Import iSites Content
            </h2>
            <p title="Import iSites Content">
              Migrate content from a previous term's
              Course iSite to this Canvas course
            </p>
            <div class="notification">
              This Canvas course is not associated
              with any Course iSites.
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  </main>
{% endif %}

{% endblock content %}