{% extends 'canvas_course_admin_tools/base.html' %}

{% load static %}

{% block stylesheets %}
  <link href="{% static 'canvas_course_admin_tools/css/dashboard.css' %}"
        rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<header>
  <div class="row lti-header">
    <h1>Manage Course</h1>
  </div>
</header>

<main>
<div class="row">
  <div class="col-md-6">
    {% if icm_active %}
      <div class="list-group">
        <a href="{% url 'isites_migration:index' %}"
           class="list-group-item active">
          <h4 class="list-group-item-heading"> Import iSites Content </h4>
          <p class="list-group-item-text">
            Migrate content from a previous term's Course iSite to this
            Canvas course
          </p>
        </a>
      </div>
    {% endif %}
    <div class="list-group">
      <a href="{% url 'manage_people:user_form' %}"
         class="list-group-item active">
        <h4 class="list-group-item-heading"> Manage People </h4>
        <p class="list-group-item-text">
          Add or remove people from your course
        </p>
      </a>
    </div>
    <div class="list-group">
      <a href="{% url 'manage_sections:create_section_form' %}"
         class="list-group-item active">
        <h4 class="list-group-item-heading"> Manage Sections </h4>
        <p class="list-group-item-text">
          Create, edit, and delete course sections
        </p>
      </a>
    </div>
  </div>
</div>
</main>
{% endblock content %}
