{% extends "manage_people/base_new.html" %}

{% load static %}

{% block page_breadcrumbs %}
<nav>
    <h3>
        <a href="{% url 'dashboard_course' %}">Manage Course</a>
        <small><i class="fa fa-chevron-right"></i></small>
        <a href="{% url 'manage_people:user_form' %}">Manage People</a>
        <small><i class="fa fa-chevron-right"></i></small>
        Add People
    </h3>
</nav>
{% endblock page_breadcrumbs %}

{% block page_content %}
    <p><strong>{{ person.name_first }} {{ person.name_last }}</strong> has been successfully added as:</p>
    <ul class="list-with-floats" id="enrollment_confirmations">
        {% for existing_enrollment, enrollee in enrollment_results %}
            <li>
                {{ enrollee.email_address }}
                {% if enrollee.badge_label != 'XID'%}
                    <span class="label">{{ enrollee.badge_label }}</span>
                {% else %}
                    <span class="label">HKL</span>
                {% endif %}
                <div class="float-right">
                    {% if existing_enrollment %}
                        <span class="text-strong"><i class="fa fa-check"></i> Already enrolled as a {{ enrollee.canvas_role_label }}</span>
                    {% else %}
                        <span class="text-strong text-success"><i class="fa fa-check"></i> Enrolled as a {{ enrollee.canvas_role_label }}</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

    {%if workflow_state == 'completed' %}
    <!--
     If it's a concluded course we need to let the user know how long to wait and where to find
     the per they just added.
     -->
    <div class="infoBlock-success">
        <div ng-transclude="">
            <p>This course has been concluded and new users may not appear in Canvas for up to 5 minutes. Concluded
                enrollments can be viewed in "Prior Enrollments" by clicking the settings gear in the upper right
                corner of the People page.</p>
        </div>
    </div>
    {% endif %}
{% endblock page_content %}
