<html>
<head>
    <title>iSites Export Readme</title>
</head>
<body>
    <p>Files in this folder were imported from a Course iSite of a previous offering of this course.</p>
    <p>Here's what is included:</p>
    <ul>
        <li>files (e.g. pdfs, Word documents, etc.)</li>
        <li>text box content (e.g. iSites text areas)</li>
    </ul>
    <p>Not included:</p>
    <ul>
        <li>lecture videos and videos from the Video Publishing Tool</li>
        <li>discussions</li>
        <li>student-generated content (dropbox, video submissions, quizzes)</li>
        <li>web links (including linked YouTube videos in the Video Publishing Tool)</li>
    </ul>
    <p>
        The files in this folder are unpublished in Canvas, so they are hidden from students. To make files here
        available to students, publish them before linking to them from assignments, pages, or other parts of your site.
    </p>
    <p>Looking for something that wasn't imported?</p>
    <p>
        Go to the old iSite by using the keyword found in the name of this folder and adding it to the end of this URL:
        http://isites.harvard.edu/ (e.g. http://isites.harvard.edu/k12345) 
    </p>
    <p>
        Contact <a href="https://wiki.harvard.edu/confluence/display/canvas/Local+School+Support+Contacts">your locacl school support</a> with any questions, or for assistance
        migrating materials from iSites.
    </p>
</body>
</html>
