<html>
<head>
    <title>iSites Export Readme</title>
</head>
<body>
    <p>Files in this main archive folder were imported from a Course iSite of a previous offering of this course. The files appear to be available to students because they have the "published" icon. However, this main archive folder that contains the files is unpublished, and therefore <b>students cannot access the files.</b>  To make files available to students, <b>you must publish this main archive folder</b> before linking to the files from assignments, pages, or other parts of your site.
</p>
    <p>Here's what was imported:</p>
    <ul>
        <li>files (e.g. pdfs, Word documents, etc.)</li>
        <li>text box content (e.g. iSites text areas)</li>
    </ul>
    <p>Not imported:</p>
    <ul>
        <li>lecture videos and videos from the Video Publishing Tool</li>
        <li>discussions</li>
        <li>student-generated content (dropbox, video submissions, quizzes)</li>
        <li>web links (including linked YouTube videos in the Video Publishing Tool)</li>
    </ul>
    <p>Looking for something that wasn't included in the import?</p>
    <p>
        Go back to the "Import iSites Content" page, and click on the link to the iSite in the table. 
    </p>
    <p>
        Contact <a href="https://wiki.harvard.edu/confluence/display/canvas/Local+School+Support+Contacts">your local school support</a> with any questions, or for assistance
        migrating materials from iSites.
    </p>
</body>
</html>
