<html>
<head>
    <title>iSites Export Readme</title>
</head>
<body>
    <p>Files in this folder were imported from a Course iSite from a previous offering of this course.</p>
    <p>Here's what was included:</p>
    <ul>
        <li>files (e.g. pdfs, Word documents, etc.)</li>
        <li>text box content (e.g. iSites text areas)</li>
    </ul>
    <p>Not included:</p>
    <ul>
        <li>videos from the Video Publishing Tool</li>
        <li>lecture videos</li>
        <li>discussions</li>
        <li>student-generated content (dropbox, video submissions, quizzes)</li>
        <li>web links (including linked YouTube videos in Video Publishing Tool)</li>
    </ul>
    <p>
        The files in this folder are unpublished in Canvas, so they are hidden from students. To make files here
        available to students, publish them before linking to them from assignments, pages, or other parts of your site.
    </p>
    <p>Looking for something that didn't import?</p>
    <p>
        You can find the old iSite using the keyword in the name of this folder in the
        URL http://isites.harvard.edu/kxxxxx
    </p>
    <p>
        Contact <a href="mailto:atg@fas.harvard.edu">atg@fas.harvard.edu</a> with any questions or for assistance
        migrating materials from iSites.
    </p>
</body>
</html>
