{% extends 'canvas_course_admin_tools/base.html' %}

{% load static %}
{% load django_helpers %}

{% block stylesheets %}
<style>
    .content form {
        text-align: center;
    }
    .collapsible {
        display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<header>
    <div class="row lti-header">
        <h1>Import iSites Content</h1>
    </div>
</header>

<main>
    <div class="content">

        <div class="alert alert-warning" role="alert" hidden="">
          This Canvas course is not associated with any Course iSites.
        </div>

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          This migration will include files (e.g. pdfs, Word documents, etc.) and text box content (e.g. iSites text areas). It will not include web links, single images, students' submitted dropbox content, videos from the Video Publishing Tool, lecture videos, discussions, student-generated content (dropbox, video submissions, quizzes) and web links (including linked YouTube videos in Video Publishing Tool.)
          <br />&nbsp;<br />
          iSites listed here are those that you’ve been associated with in a teaching staff role. All the imported material can be found in the <a href="#" class="alert-link">Files</a> area of this Canvas course site. The folder named with the imported iSite’s keyword is set as unpublished, you will have to publish it manually by selecting the cloud icon. You can also add these files directly to your Canvas <a href="#" class="alert-link">Pages</a>, <a href="#" class="alert-link">Announcements</a>, etc… using the File Browser, shown in the right hand panel when you enter into edit mode in these tools.
        </div>


        <div class="panel panel-default ">

            <div class="panel-body"><h3>Choose an iSite to Import</h3>
            {% if isites %}
            <form class="form-inline" method="POST" action="{% url 'isites_migration:index' %}">
                {% csrf_token %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa fa-download"></i></th>
                            <th>iSites Keyword</th>
                            <th>Course Title</th>
                            <th>Term</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site in isites %}
                         <tr align="left" {% if forloop.counter > 3 %} class="collapsible" {% endif %}>
                             <th scope="row"><input type="radio" name="keyword" value="site.keyword"></th>
                             <td><a href="http://isites.harvard.edu/{{ site.keyword }}" target="_blank">{{ site.keyword }}</a></td>
                             <td>{{ site.title }}</td>
                             <td>{{ site.term }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <button id="begin-import" type="submit" class="btn btn-primary pull-left" title="Migrate files from selected iSites Course" disabled="disabled"><i class="fa fa-download"></i> Import</button>

                <button id="cancel-import" type="submit" class="btn btn-default pull-left hidden" title="Migrate files from selected iSites Course"><i class="fa fa-times"></i> Cancel Content Import</button>

                <a href="#" id="show-more" class="pull-right">More <i class="fa fa-arrow-down"></i></a>
                <a href="#" id="show-less" class="pull-right hidden">Less <i class="fa fa-arrow-up"></i></a>
            </form>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Started At</th>
                    <th>iSites Keyword</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for p in processes %}
                <tr>
                    <td>{{ p.date_created|format_datetime }}</td>
                    <td>{{ p.details.keyword }}</td>
                    <td><span class="process-state label">{{ p.status_display }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            This Canvas course is not associated with any Course iSites.
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function(){

        $('#show-more').click(function(){
            $(this).addClass('hidden');
            $('#show-less').removeClass('hidden');
            $('.collapsible').toggle();
        });

        $('#show-less').click(function(){
            $(this).addClass('hidden');
            $('#show-more').removeClass('hidden');
            $('.collapsible').toggle();
        });

        // Add appropriate label class to state column
        $('.process-state').each(function(){
            var $label = $(this);
            var state = $label.html()
            var stateClass = 'label-default';
            if (state == 'Active') {
                stateClass = 'label-warning';
            } else if (state == 'Failed') {
                stateClass = 'label-danger';
            } else if (state == 'Completed') {
                stateClass = 'label-success';
            }
            $(this).addClass(stateClass);
        });

        // Activate import button when a keyword is selected
        $('input[name="keyword"]:radio').change(function(){
            $('#begin-import').prop('disabled', false);
        });

        {% if has_active_process %}
        // Refresh to update process states
        setTimeout(function(){
            window.location.reload();
        }, 5000);
        {% endif %}
    });
</script>
{% endblock javascript %}
