{% extends 'canvas_course_admin_tools/base.html' %}

{% load static %}
{% load django_helpers %}
{% load tz %}

{% block stylesheets %}
<style>
    .content form {
        text-align: center;
    }
    .collapsible {
        display: none;
    }
    .files-link {
        text-decoration: underline;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<header>
    <div class="row lti-header">
        <h1>Import iSites Content</h1>
    </div>
</header>

<main>
    <div class="content">

        {% if not isites %}
            <div class="alert alert-info" role="alert">
              This Canvas course is not associated with any Course iSites.
            </div>
        {% else %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>

                The iSites listed here are previous offerings of this course that share at least one teaching staff member
                with the current offering. Once the import is complete, visit the <a href="{{link_to_files_page}}" target="_blank" class="files-link">Files</a> area in this Canvas
                course site and look for the main archive folder named “unpublished_isites_archive_kxxxxxx.” This folder is
                unpublished, and <b>therefore students cannot access the files.</b> To make files available to students, <b>you must
                first publish this main archive folder.</b>
                <br />&nbsp;<br />
                Note: This content import will include files (e.g. pdfs, Word documents, etc.) and text box content
                (e.g. iSites text areas), but will not include web links, videos, discussions, single images, and students'
                dropbox submissions.
            </div>


            <div class="panel panel-default ">

                <div class="panel-body"><h3>Choose an iSite to Import</h3>

                <form class="form-inline" method="POST" action="{% url 'isites_migration:index' %}">
                    {% csrf_token %}

                    <table id="select-site-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th><i class="fa fa-download"></i></th>
                                <th>iSite</th>
                                <th>iSite Course Title</th>
                                <th>iSite Term</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for site in isites %}
                             <tr align="left" {% if forloop.counter > 3 %} class="collapsible" {% endif %}>
                                 <th scope="row"><input type="radio" name="keyword" value="{{ site.keyword }}" data-title="{{ site.title }}" data-term="{{ site.term }}"></th>
                                 <td><a href="http://isites.harvard.edu/{{ site.keyword }}" target="_blank">{{ site.keyword }}</a></td>
                                 <td>{{ site.title }}</td>
                                 <td>{{ site.term }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input id="hidden-title-id" type="hidden" name="title" value="None">
                    <input id="hidden-term-id" type="hidden" name="term" value="None">
                    <button id="begin-import" type="submit" class="btn btn-primary pull-left" title="Migrate files from selected iSites Course" disabled="disabled"><i class="fa fa-download"></i> Import</button>

                    <a href="#" id="show-more" class="pull-right hidden">More <i class="fa fa-arrow-down"></i></a>
                    <a href="#" id="show-less" class="pull-right hidden">Less <i class="fa fa-arrow-up"></i></a>
                </form>
                </div>
            </div>

            <h3 class="">Imported iSite(s)</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Started At</th>
                        <th>iSite</th>
                        <th>iSite Course Title</th>
                        <th>iSite Term</th>
                        <th>Status of Import</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in processes %}
                    <tr>
                        <td>{{ p.date_created|timezone:user_timezone }}</td>
                        <td>{{ p.details.keyword }}</td>
                        <td>{{ p.details.title }}</td>
                        <td>{{ p.details.term }}</td>
                        <td><span class="process-state label">{{ p.status_display }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function(){

        // only show the more button if there are more than 3 rows
        var rowCount = $('#select-site-table tr').length;
        if(rowCount > 3) {
            $('#show-more').removeClass('hidden');
        };

        //control how the more and less buttons are displayed
        $('#show-more').click(function(){
            $(this).addClass('hidden');
            $('#show-less').removeClass('hidden');
            $('.collapsible').toggle();
        });

        $('#show-less').click(function(){
            $(this).addClass('hidden');
            $('#show-more').removeClass('hidden');
            $('.collapsible').toggle();
        });

        // Add appropriate label class to state column
        $('.process-state').each(function(){
            var $label = $(this);
            var state = $label.html()
            var stateClass = 'label-default';
            if (state == 'Active') {
                stateClass = 'label-warning';
            } else if (state == 'Failed') {
                stateClass = 'label-danger';
            } else if (state == 'Completed') {
                stateClass = 'label-success';
            }
            $(this).addClass(stateClass);
        });

        // Activate import button when a keyword is selected
        $('input[name="keyword"]:radio').change(function(){
            $('#hidden-term-id').val($(this).data("term"));
            $('#hidden-title-id').val($(this).data("title"));

            $('#begin-import').prop('disabled', $('input[name="keyword"]:checked').size() == 0);
            // only enable the submit button if a radio option is checked
//            if($('input[name="keyword"]:checked').size() > 0) {
//                $('#begin-import').prop('disabled', false);
//            }
//            else {
//                $('#begin-import').prop('disabled', true);
//            }
        });

        {% if has_active_process %}
        // Refresh to update process states
        setTimeout(function(){
            window.location.reload();
        }, 5000);
        {% endif %}
    });
</script>
{% endblock javascript %}
