{% extends 'canvas_course_admin_tools/base.html' %}

{% load static %}
{% load django_helpers %}

{% block stylesheets %}
<style>
    .content form {
        text-align: center;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<header>
    <div class="row lti-header">
        <h1>Course iSites Import</h1>
    </div>
</header>

<main>
    <div class="content">
        {% if keywords %}
        <form class="form-inline" method="POST" action="{% url 'isites_migration:index' %}">
            {% csrf_token %}
            <div class="form-group">
                <select id="keyword" name="keyword" class="form-control">
                    <option value="">Select a Course iSite</option>
                    {% for keyword in keywords %}
                    <option value="{{ keyword }}">{{ keyword }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="begin-import" type="submit" class="btn btn-primary" disabled="disabled"><i class="fa fa-download"></i> Begin iSites Import</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Started At</th>
                    <th>iSites Keyword</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for p in processes %}
                <tr>
                    <td>{{ p.date_created|format_datetime }}</td>
                    <td>{{ p.details.keyword }}</td>
                    <td><span class="process-state label">{{ p.status_display }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            This Canvas course is not associated with any Course iSites.
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block javascript %}
{% if has_active_process %}
<script>
    $(document).ready(function(){
        // Add appropriate label class to state column
        $('.process-state').each(function(){
            var $label = $(this);
            var state = $label.html()
            var stateClass = 'label-default';
            if (state == 'Active') {
                stateClass = 'label-warning';
            } else if (state == 'Failed') {
                stateClass = 'label-danger';
            } else if (state == 'Completed') {
                stateClass = 'label-success';
            }
            $(this).addClass(stateClass);
        });
        // Activate import button when a keyword is selected
        $('#keyword').on('change', function(){
            var hasSelection = $(this).find('option:selected').val() != '';
            $('#begin-import').prop('disabled', !hasSelection);
        });
        // Refresh to update process states
        setTimeout(function(){
            window.location.reload();
        }, 5000);
    });
</script>
{% endif %}
{% endblock javascript %}
