/* tag types */

a {
    color: #0081bd;
    text-decoration: none;
}
h1 {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p {
    margin: 0;
    line-height: 1;
    font-size: 14px;
    color: gray;
    padding-top: 1em;
}

/* custom classes */

.card {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 4px solid #eee;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 36px 36px 0;
    vertical-align: top;
    width: 262px;
}
.card_color1 {
    border-bottom-color: green;
}
.card_color2 {
    border-bottom-color: cornflowerblue;
}
.card_color3 {
    border-bottom-color: orangered;
}
.card_disabled {
    border-bottom-color: #ccc;
    cursor: default;
}
.card-body {
    position: relative;
    box-sizing: border-box;
}
.card-content {
    box-sizing: border-box;
    padding: 18px 18px 0;
}
.card-content_normal {
    background: #fff;
    height: 8em;
}
.card-content_alert {
    background: #ededed;
    height: 12.5em;
}
.card-content-title {
    transition: all 0.2s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500;
}
.card-header {
    border: 1px solid rgba(0,0,0,0.1);
    height:.25em;
}
.card-header_color1 {
    background-color: green;
}
.card-header_color2 {
    background-color: cornflowerblue;
}
.card-header_color3 {
    background-color: orangered;
}
.card-header_disabled {
    border: 1px solid rgba(0,0,0,0);
    background-color:#ccc;
}
.dashboard-header {
    margin: 0 0 12px;
    padding-bottom: 12px;
    padding-top: 10px;
}
.dashboard-header_title {
    margin-top: 0;
    margin-bottom: 0;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification {
    background: #fff;
    border: 2px solid #ff0000;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    color: #333;
    display: flex;
    flex: 1;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 12px;
    margin-top: 1em;
    padding: 12px;
}
